<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47832088103-vv2pbha91t5kfiiom9lrmk3kcihr3uur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47832088103-vv2pbha91t5kfiiom9lrmk3kcihr3uur</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>47832088103-0374emh4al94jepnvoaemvqlamu633ef.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCD9Mk2NoWx7lCU6H7ugZQmyK-7LETQ1K4</string>
	<key>GCM_SENDER_ID</key>
	<string>47832088103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timetracker</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-8c99a</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-8c99a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47832088103:ios:a7a1e573d6f56e4917d802</string>
	<key>DATABASE_URL</key>
	<string>https://time-tracker-8c99a.firebaseio.com</string>
</dict>
</plist>